/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins', sans-serif;
background:#fff7fb;
}

/* HEADER */

.header{
display:flex;
align-items:center;
justify-content:space-between;
padding:40px 80px;
background-color:#FEBEE5;

}

/* LOGO AREA */

.logo-area{
display:flex;
align-items:center;
gap:20px;
}

/* LOGO */

.logo{
height:210px;
width: auto;
}

/* BRAND TEXT */

.brand h1{
font-family:'Great Vibes', cursive;
font-size:70px;
color:white;
}

.brand p{
color:white;
font-size:18px;
letter-spacing:2px;
}

/* MENU */

.menu{
display:flex;
gap:40px;
}

.menu a{
text-decoration:none;
font-weight:600;
font-size:20px;
color:#333;
transition:0.3s;
}

.menu a:hover{
color:white;
}

/* MENU HAMBURGUESA */

.menu-icon{
display:none;
font-size:34px;
cursor:pointer;
}

#menu-toggle{
display:none;
}

/* CARRUSEL */

.carousel{

position:relative;
width:100%;
height:65vh;

overflow:hidden;

background:linear-gradient(
to bottom,
#ffe6f3,
white
);

}

/* SLIDES */

.slides{
display:flex;
height:100%;
transition:transform 0.6s ease;
}

.slide{
pointer-events:none;


min-width:100%;
height:100%;

object-fit:contain;

padding:30px;

}

/* FLECHAS */

.flecha{

position:absolute;
top:50%;

transform:translateY(-50%);

background:white;

border:none;

font-size:32px;

cursor:pointer;

padding:12px 18px;

border-radius:50%;

box-shadow:0 3px 10px rgba(0,0,0,0.15);

transition:0.3s;

z-index:10;


}

.flecha:hover{
background:#ff8dc6;
color:white;
}

.izquierda{
left:25px;
}

.derecha{
right:25px;
}

/* INDICADORES */

.indicadores{

position:absolute;
bottom:20px;

width:100%;

text-align:center;

}

.punto{

display:inline-block;

width:12px;
height:12px;

margin:6px;

background:#ffc2e2;

border-radius:50%;

cursor:pointer;

opacity:0.5;

transition:0.3s;

}

.punto.activo{
opacity:1;
background:#ff69b4;
}

/* RESPONSIVE */

@media (max-width:900px){

.header{

flex-wrap:wrap;

padding:25px;

}


.logo{
height:120px;
width:auto;
}

}

.brand h1{
font-size:45px;
}

.brand p{
font-size:14px;
}

.menu{

display:none;

flex-direction:column;

width:100%;

text-align:center;

margin-top:20px;

}

.menu a{
padding:10px;
}

.menu-icon{
display:block;
}

#menu-toggle:checked + .menu-icon + .menu{
display:flex;
}

.carousel{
height:45vh;
}






